<!-- categories content -->
<div id="page-heading" class="heading-content">
  <h1>Addon</h1>
</div>

<div class="container body-content">
  <div class="row">
    <div class="col-md-8">
      <div class="buttons">
        <div class="form-group">
          <button class="btn btn-primary" ng-click="open()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Create Addon</button>
        </div>  
      </div>
    </div>
    <div class="col-md-4 text-right">
      <div class="form-group">
        <input class="form-control" ng-model="addOnSearch" placeholder="Search" type="text"></input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="fix-row"></div>
      <table ng-table="tableParams" class="table table-condensed">
        <!--<thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>&nbsp;</th>
          </tr>
        </thead>-->
        <tbody>
          <tr ng-repeat="addon in $data | filter:addOnSearch">
            <td style="width: 30%" class="text-center" ng-bind="addon.name" data-title="'Name'" sortable="'name'">
            </td>
            <td style="width: 45%" class="text-center" ng-bind="addon.description" data-title="'Description'" sortable="'description'">    
            </td>
            <td style="width: 25%" class="text-center">
              <div class="buttons">
                <button class="btn btn-sm btn-primary" ng-click="open(addon)"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-sm btn-primary" ng-click="delete(addon)"><i class="fa fa-times"></i> Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> 
<!-- categories content -->