<form name="form" novalidate role="form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="container wrap-container">
          <div class="row">
            <!-- LEFT SUB-MENU CONTENT -->
            <div class="col-md-6">
              <div class="form-horizontal">
                <div class="form-group">
                  <label for="name" class="col-sm-3 control-label align-left">Name</label>
                  <div class="col-sm-9">
                    <input type="text" name="name" class="form-control align-left" ng-model="menu.name" required placeholder="" maxlength="50">
                  </div>
                </div>

                <div class="form-group">
                  <label for="description" class="col-sm-3 control-label align-left">Description</label>
                  <div class="col-sm-9"><textarea name="description" ng-model="menu.description" cols="50" rows="2" class="form-control" required></textarea></div>
                </div>
                <div class="form-group">
                  <label for="radio" class="col-sm-3 control-label align-left">Notes</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="menu.notes" required placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Search" ng-model="menuSearch">
                  </div>
                </div>
              </div>


              <!-- drop items -->

              <div class="advancedDemo submenu-left-drag">
                <div class="dropzone box box-yellow" ng-include="'advanced1.html'"></div>
              </div>
            </div>

            <!-- END: LEFT SUB-MENU CONTENT -->

            <!-- RIGHT SUBMENU CONTENT -->
            <div class="col-md-6">
              <!-- <pre>{{categoriesTree | json}}</pre> -->
              <!-- CATEGORIES -->
              <div class="wrap-container">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-3 control-label align-left"><span>Categories</span></label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="Search" ng-model="categorySearch">
                    </div>
                  </div>
                </div>
                <!-- drop items -->

                <div class="advancedDemo wrap-drop-item ">
                  <div class="dropzone box box-yellow drop-item" ng-include="'advanced2.html'"></div>
                </div>
                <!-- drop items -->

              </div>



              <!-- ITEMS -->
              <div class="wrap-container" >

                <!-- <pre>{{itemsTree | json}}</pre> -->
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-3 control-label align-left"><span>Items</span></label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" placeholder="Search" ng-model="itemSearch">
                    </div>
                  </div>

                </div>
                <div class="advancedDemo  wrap-drop-item menu-item-drag-box">
                  <div class="dropzone box box-yellow drop-item" ng-include="'advanced3.html'"></div>
                </div>
                <!-- drop items -->





              </div>



            </div>
            <!-- END: RIGHT SUBMENU CONTENT -->
          </div>
          <div class="row fix-row">
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-default" ui-sref="app.admin.restaurant.manage.menu.menu.list">Back</button>
              <button type="button" class="btn btn-primary" ng-disabled="menu.categoryItem.length == 0" ladda="isLoadingSave" ng-click="save(menu)"><i class="fa fa-check"></i> Done</button>
            </div>
          </div>
        </div>
      </div> <!-- right content -->
    </div>
  </div>



</form>

<script type="text/ng-template" id="advanced1.html">

  <ul class="wrap-drop-item menu-drag-box" dnd-list="MenuTree"
      dnd-allowed-types="['categoryType']"
      dnd-external-sources="true"
      dnd-dragover="dragoverCallback(event, index, external, type)"
      dnd-drop="addCategory(event, index, item, external, type, 'categoryType')">
    <li ng-repeat="catItem in menu.categoryItem"
        dnd-type="'categoryItemType'"
        dnd-effect-allowed="copyMove">
      <div class="container-element box box-blue">
        <h3 class="main-cat-heading"><i class="fa fa-arrows">&nbsp;</i>{{catItem.category.name}}
          <span><button class="btn btn-sm btn-primary align-right" ng-click="removeCategory($index, catItem)"><i class="fa fa-times"></i> Remove</button></span>
        </h3>
        <ul dnd-list="categoryItem.itemPrice"
            dnd-allowed-types="['itemType']"
            dnd-horizontal-list="true"
            dnd-external-sources="false"
            dnd-dragover="dragoverCategoryItemCallback(event, index, external, type)"
            dnd-drop="addItem(event, index, item, external, type, 'itemType', catItem)"
            dnd-inserted="logEvent('Element was inserted at position ' + index, event)"
            class="itemlist">
          <li ng-repeat="item in catItem.items"
              dnd-type="'itemType'"
              dnd-effect-allowed="copyMove"
              dnd-dragstart="logEvent('Started to drag an item', event)"
              dnd-copied="logEvent('Item copied', event)"
              dnd-canceled="logEvent('Drag operation canceled', event)"
              dnd-dragend="logEvent('Drag operation ended', event)">
            <i class="fa fa-arrows"></i> {{item.name}}
              <button class="btn btn-sm btn-primary align-right" ng-click="removeItemFromCategory(catItem, item)"><i class="fa fa-times"></i> Remove</button>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="advanced2.html">
  <ul dnd-list="categoriesTree"
      dnd-allowed-types="['categoryType']"
      dnd-external-sources="false"
      dnd-dragover="dragoverCallback(event, index, external, type)"
      dnd-drop="dropCallback(event, index, item, external, type, 'containerType')">
    <li ng-repeat="category in categoriesTree| filter:categorySearch"
        dnd-draggable="category"
        dnd-type="'categoryType'"
        dnd-effect-allowed="copyMove"
        dnd-moved="categoriesTree.splice($index, 1)">
      <div class="container-element box box-blue">
        <h3 class="main-cat-heading"><i class="fa fa-arrows">&nbsp;</i>{{category.name}}</h3>
        <div class="clearfix"></div>
      </div>
    </li>
  </ul>
</script>


<script type="text/ng-template" id="advanced3.html">
  <ul dnd-list="itemsTree"
      dnd-allowed-types="['itemType']"
      dnd-horizontal-list="true"
      dnd-external-sources="false"
      dnd-dragover="dragoverCallback(event, index, external, type)"
      dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"
      dnd-inserted="logEvent('Element was inserted at position ' + index, event)"
      class="itemlist menu-item-drag-box">
    <li ng-repeat="item in itemsTree| filter:itemSearch"
        dnd-draggable="item"
        dnd-type="'itemType'"
        dnd-effect-allowed="copyMove"
        dnd-dragstart="logEvent('Started to drag an item', event)"
        dnd-moved="itemsTree.splice($index, 1); logEvent('Item moved', event)"
        dnd-copied="logEvent('Item copied', event)"
        dnd-canceled="logEvent('Drag operation canceled', event)"
        dnd-dragend="logEvent('Drag operation ended', event)">
      <i class="fa fa-arrows"></i> {{item.name}}
    </li>
  </ul>

</script>









<style type="text/css">

  /***************************** Required styles *****************************/

  /**
   * For the correct positioning of the placeholder element, the dnd-list and
   * it's children must have position: relative
   */
  .advancedDemo ul[dnd-list],
  .advancedDemo ul[dnd-list] > li {
    position: relative;
  }
  .advancedDemo .dropzone li {
    display: block;
  }
  .advancedDemo .dropzone .dndDragging {
    opacity: 0.7;
  }
  .advancedDemo .dropzone .dndDraggingSource {
    display: none;
  }
  .advancedDemo .dropzone .dndPlaceholder {
    background-color: #ddd !important;
    min-height: 42px;
    display: block;
    position: relative;
  }
  .advancedDemo .dropzone .itemlist {
    min-height: 120px !important;
  }
  /*.advancedDemo .dropzone .container-element {
      margin: 10px;
  }
  */
</style>