<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h3 class="modal-title text-center">{{ itemToProcess.name ? itemToProcess.itemName : "Item Name" }}</h3>
</div>
<div class="modal-body">
    <div class="container">
        <!-- <pre>{{ itemToProcess | json }}</pre> -->
        <form name="form">
            <div class="row">
                <div class="col-md-4"> <!-- image upload -->
                    <div flow-init="{singleFile:true}"
                         flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                         flow-files-submitted="$flow.upload()"
                         flow-file-success="getLinkImage($message)">
                        <div class="thumbnail item-thumbnail"
                             ng-if="itemToProcess.linkImage == 'empty' || itemToProcess.linkImage == ''" flow-btn>
                            <img src="assets/images/no-image.gif"/>
                        </div>
                        <div class="thumbnail item-thumbnail" ng-if="itemToProcess.linkImage != 'empty'" flow-btn>
                            <img src="{{ apiImageUpload + itemToProcess.linkImage }}"/>
                        </div>
                        <div class="mt10 mb10 text-center">
                            <span class="btn btn-primary" ng-if="itemToProcess.linkImage == 'empty'" flow-btn>Upload Image</span>
                            <span class="btn btn-primary" ng-if="itemToProcess.linkImage != 'empty'" flow-btn>Change Image</span>
                        </div>
                    </div>
                </div> <!-- image upload -->
                <div class="col-md-8">    <!-- form edit -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <pre>{{ itemToProcess | json}}</pre> -->
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label align-left">Name</label>

                                    <div class="col-sm-6">
                                        <input name="name" type="text" class="form-control"
                                               ng-model="itemToProcess.name" required maxlength="64">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">Description</label>

                                    <div class="col-sm-12"><textarea name="desciption" id="description"
                                                                     ng-model="itemToProcess.description" cols="50"
                                                                     rows="2" class="form-control" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="notes" class="col-sm-3 control-label align-left">Notes</label>

                                    <div class="col-sm-6">
                                        <input name="notes" type="text" class="form-control"
                                               ng-model="itemToProcess.notes" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="col-sm-12 control-label align-left">Size and Price</label>
                    <div>
                        <div class="col-sm-12">
                            <div ng-repeat="item in itemToProcess.itemSize">
                                <div class="col-sm-4 form-group fix-inline-item">
                                    <select class="form-control" name="type" ng-model="item.size.id"
                                            ng-options="size.id as size.name for size in listSizes">
                                    </select>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <div class="col-sm-6">Price: </div>
                                    <input name="price" type="number" class="col-sm-6 form-control" ng-model="item.price" min="0"
                                           required style="width: 80px">
                                </div>
                                <div class="col-sm-4 form-group fix-inline-item">
                                    <button type="button" class="btn btn-primary" ng-click="addItemSize(item.size.id, item.price)"
                                            ng-if="$last"
                                            ng-disabled="item.size==''"><i class="fa fa-check"></i> Add
                                    </button>
                                    <div ng-if="!$last">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-pause"></i><span
                                                class="non-text"> Pause</span></button>
                                        <button type="button" class="btn btn-primary"
                                                ng-click="deleteSizePrice($index)"><i
                                                class="fa fa-times"></i><span class="non-text"> Remove</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 control-label align-left">Modifier</label>

                        <div class="form-inline">
                            <div ng-repeat="item in itemToProcess.modifiers">
                                <div class="form-group fix-inline-item">
                                    <select class="form-control" name="type" ng-model="item.id"
                                            ng-options="modifier.id as modifier.name for modifier in modifiers">
                                    </select>
                                </div>
                                <div class="form-group fix-inline-item">
                                    <div ng-show="$last">
                                        <button type="button" class="btn btn-primary" ng-click="addModifier(modifier.id)"
                                                ng-disabled="item.id==''"><i class="fa fa-check"></i> Add
                                        </button>
                                    </div>
                                    <div ng-show="!$last">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-pause"></i><span
                                                class="non-text"> Pause</span></button>
                                        <button type="button" class="btn btn-primary" ng-click="deleteModifer($index)">
                                            <i class="fa fa-times"></i><span class="non-text"> Remove</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ladda="loadingSave" ng-click="save()"
            ng-disabled="form.$invalid">Save
    </button>
</div>