<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">×</button>
	<h3 class="modal-title text-center">{{ itemToProcess.modifierName ? itemToProcess.modifierName : "Modifier Name" }}</h3>
</div>
<div class="modal-body">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <pre>{{ itemToProcess | json }}</pre> -->
				<form name="form" novalidate>
					<div class="form-horizontal">
						<div class="form-group">
							<label for="name" class="col-sm-3 control-label align-left">Name</label>
							<div class="col-sm-6">
								<input name="name" type="text" class="form-control" ng-model="itemToProcess.name" required maxlength="50">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">Description</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<textarea name="desciption" id="description" ng-model="itemToProcess.description" cols="50" rows="2" class="form-control" required></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label align-left">Customer can select multiple items</label>
								<div class="btn-group col-sm-3">
									<button type="button" class="btn btn-primary-alt" ng-class="{true: 'active'}[itemToProcess.isSelectMultiple==true]" ng-model="itemToProcess.isSelectMultiple" ng-click="itemToProcess.isSelectMultiple=true">Yes</button>
									<button type="button" class="btn btn-primary-alt" ng-class="{true: 'active'}[itemToProcess.isSelectMultiple==false]" ng-model="itemToProcess.isSelectMultiple" ng-click="itemToProcess.isSelectMultiple=false;itemToProcess.maxSelection=itemToProcess.minSelection">No</button>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label align-left">Min. Selections</label>
							<div class="col-sm-2">
								<input name="name" type="number" class="form-control" ng-model="itemToProcess.minSelection" min="0" required>
							</div>
						</div>
						<div class="form-group" ng-if="itemToProcess.isSelectMultiple">
							<label class="col-sm-6 control-label align-left">Max. Selections</label>
							<div class="col-sm-2">
								<input name="name" type="number" class="form-control" ng-model="itemToProcess.maxSelection" min="0">
							</div>
						</div>
										
					</div>

					<div class="select-item">
						<label>Addons</label>
						<div ng-repeat="item in itemToProcess.modifierAddon">
				    		<div class="form-inline">
				    			<div class="form-group pad-bot fix-inline">
				    				<select name="addons"  class="form-control" ng-model="item.addon.id" ng-options="addon.id as addon.name for addon in addons" style="width: 100%">
				    				</select>
				    			</div>
				    			<div class="form-group pad-bot fix-inline">
				    				<label for="prices" class="control-label">Price: </label>
				    				<input name="prices" type="number" class="form-control" ng-model="item.price" style="width: 80px" min="0" required>
				    			</div>
				    				<div class="radio block">
				    					<label class="radio-inline">
											<input icheck type="radio" name="default" ng-model="item.isDefault" ng-value="true" ng-change="console.log('ss');">
                                        </label>
										<span style="vertical-align: middle"> Default</span>
				    				</div>
				    			<div class="form-group pad-bot fix-inline">
				    				<button type="button" class="btn btn-primary" ng-click="addModifierAddon()" ng-show="$last" ng-disabled="item.addon.id === undefined || item.addon.id === null"><i class="fa fa-plus"></i> Add</button>
				    				<div ng-show="!$last">
					    				<button type="button" class="btn btn-primary" ng-click="deleteModifierAddon($index)"><i class="fa fa-times"></i><span class=""> Remove</span></button>
				    				</div>
				    			</div>	
				    		</div>
						</div>
			    	</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" ladda="loadingSave" ng-click="save()" ng-disabled="form.$invalid || itemToProcess.itemSizes.length < 2 || itemToProcess.addOns.length < 2">Save</button>
</div>