
<div id="page-heading" class="heading-content">
  <h1>Users</h1>
</div>

<div class="container body-content">
  <div class="row">
    <div class="col-md-8">
      <div class="buttons">
        <div class="form-group">
          <button class="btn btn-primary" ng-click="open()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Create User</button>
        </div>  
      </div>
    </div>
    <div class="col-md-4 text-right">
      <div class="form-group">
        <input class="form-control" ng-model="userSearch" placeholder="Search" type="text"></input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="fix-row"></div>
      <table ng-table="tableParams" class="table table-condensed">
        <!-- <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Registered Date</th>
            <th>Phone #</th>
            <th>&nbsp;</th>
          </tr>
        </thead> -->
        <tbody>
          <tr ng-repeat="user in $data | filter:userSearch">
            <td class="text-center" ng-bind="user.firstName" data-title="'First Name'" sortable="'firstName'">
            </td>
            <td class="text-center" ng-bind="user.lastName" data-title="'Last Name'" sortable="'lastName'">    
            </td>
            <td style="width: 20%" class="text-center" ng-bind="user.email" data-title="'Email'" sortable="'email'">
            </td>
           <!--  <td class="text-center" ng-bind="user.registeredDate | date:'medium'" data-title="'Registered Date'" sortable="'registeredDate'">    
            </td> -->
            <td class="text-center" ng-bind="user.phone" data-title="'Phone #'" sortable="'phone'">    
            </td>
           
            <td class="text-center" style="white-space: nowrap">
              <div class="buttons">
                <button class="btn btn-sm btn-primary" ng-click="manage(user)">Manage</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> 
