<div class="row">
    <div class="col-md-8">
      <div class="buttons">
        <div class="form-group">
          <button class="btn btn-primary" ng-click="createSubMenu()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Create New Sub-Menu</button>
        </div>  
      </div>
    </div>
    <div class="col-md-4 text-right">
      <div class="form-group">
        <input class="form-control" ng-model="submenuSearch" placeholder="Search" type="text"></input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="fix-row"></div>
      <table ng-table="tableParams" class="table table-condensed">
        <!--<thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Notes</th>
            <th>&nbsp;</th>
          </tr>
        </thead>-->
        <tbody>
          <tr ng-repeat="subList in $data | filter:submenuSearch">
            <td class="text-center" ng-bind="subList.name" data-title="'Name'" sortable="'name'">
            </td>
            <td class="text-center" ng-bind="subList.description" data-title="'Description'" sortable="'description'">    
            </td>
            <td class="text-center" ng-bind="subList.notes" data-title="'Notes'" sortable="'notes'">    
            </td>
            <td class="text-center" style="white-space: nowrap">
              <div class="buttons">
                <button class="btn btn-sm btn-primary" ladda="subList.editLoading" ng-click="editSubMenu(subList)"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-sm btn-primary" ng-click="deleteSubMenu(subList)"><i class="fa fa-times"></i> Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>