<div id="page-heading" class="heading-content">
  <h1>Taxes</h1>
</div>

<div class="container body-content">
  <div class="row">
    <div class="col-md-8">
      <div class="buttons">
        <div class="form-group">
          <button class="btn btn-primary" ng-click="open()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Create Taxes</button>
        </div>  
      </div>
    </div>
    <div class="col-md-4 text-right">
      <div class="form-group">
        <input class="form-control" ng-model="taxeSearch" placeholder="Search" type="text"></input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="fix-row"></div>
      <table ng-table="tableParams" class="table table-condensed">
        <tbody>
          <tr ng-repeat="taxe in $data | filter:taxeSearch">
            <td style="width: 30%" class="text-center" ng-bind="taxe.name" data-title="'Name'" sortable="'taxeName'">
            </td>
            <td style="width: 35%" class="text-center" ng-bind="taxe.description" data-title="'Description'" sortable="'description'">    
            </td>
            <td class="text-center" ng-bind="taxe.value + ' %'" data-title="'Value'" sortable="'value'">    
            </td>
            <td style="width: 25%" class="text-center">
              <div class="buttons">
                <button class="btn btn-sm btn-primary" ng-click="open(taxe)"><i class="fa fa-pencil"></i> Edit</button>
                <button class="btn btn-sm btn-primary" ng-click="delete(taxe)"><i class="fa fa-times"></i> Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> 