<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()">×</button>
	<h3 class="modal-title text-center">{{ itemToProcess.taxeName ? itemToProcess.taxeName : "Taxes Name" }}</h3>
</div>
<div class="modal-body">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form name="form" class="form-horizontal" >
					<div class="form-group">
						<label class="col-sm-3 control-label align-left">Name</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="" ng-model="itemToProcess.name" required maxlength="50">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label align-left">Value</label>
						<div class="col-sm-3">
							<input type="number" class="form-control" placeholder="" ng-model="itemToProcess.value" required maxlength="50">
						</div>
						<div class="col-sm-3">
							<span>%</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-12 control-label align-left">Description</label>
						<div class="col-sm-12">
							<textarea name="description" cols="50" rows="2" class="form-control" ng-model="itemToProcess.description" required></textarea>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
<button class="btn btn-primary" ladda="isLoadingSave" ng-click="save()" ng-disabled="form.$invalid">Save</button>
</div>